body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.form-table th {
    text-align: left;
    background-color: #ffffff;
    padding: 8px;
    font-size: 18px;
}
.form-table td {
    padding: 4px 12px;
}
th {
    border-bottom: 2px solid #000; 
}