/* reset */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family: Arial, sans-serif;
    background-color:#f5f5f5;
    padding:40px;
}

/* KHUNG VIỀN MÀU XANH */
.container{

    border:4px solid #7ec8e3; /* viền xanh */
    padding:50px;
    background-color:#ffffff;

}

/* tiêu đề */
.main-title{
    text-align:center;
    margin-bottom:10px;
    font-size:28px;
    font-weight:normal;
}

/* layout trái phải */
.content{
    margin-top: 100px;
    display:flex;
    gap:60px;
    align-items:flex-start;

}

/* card bên trái */
.card{

    width:300px;
    background-color:#ffffff;
    padding:25px;
    box-shadow:0 4px 10px rgba(211, 211, 211, 1);

}

.card h2{
    font-size:18px;
    margin-bottom:40px;
    line-height: 1.6;
}

.card p{
    font-size:14px;
    color:#555;
    margin-bottom:40px;
    line-height: 1.6;
}

.author strong{
    font-size:14px;
}

.author span{
    color:#4aa3df;
    font-size:13px;
    margin-top: 20px;
}

/* text bên phải */
.text{

    flex:1;

}

.text p{

    margin-bottom:20px;
    color:#555;
    line-height:1.6;

}

.bold{

    font-weight:bold;
}