
#hero {
  height: 700px;
  background-image: url("images/places/ocean.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

#hero-content {
  background-color: rgba(0,0,0,0.6);
  padding: 50px;
  border-radius: 8px;
  text-align: center;
  color: white;
  width: 600px;
}

#hero-content h1 {
  font-family: "Raleway", sans-serif;
  font-size: 40px;
  margin-bottom: 10px;
}

#hero-content p {
  font-size: 14px;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

#hero-content a {
  text-decoration: none;
  background-color: #f7d600;
  color: black;
  padding: 10px 22px;
  border-radius: 4px;
  font-weight: bold;
}

#hero-content a:hover {
  background-color: #ffd900;
}


#highlights {
  background-color: #d7f1f0;
  padding: 60px 0;
  text-align: center;
}

#highlights h2 {
  font-size: 22px;
  margin-bottom: 40px;
  letter-spacing: 2px;
}

#destinations {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.destination {
  width: 300px;
}

.destination img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 6px 15px rgba(0,0,0,0.2);
}

.destination p {
  margin-top: 12px;
  font-size: 14px;
}

.destination strong {
  color: #00a6a6;
}